<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>appstore-必备</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no ">
    <link href="/public/static/css/necessary.css" rel="stylesheet"></head>

<body>
<div id="warpper">
    <!--头部模板文件-->
    {include file="public/header" /}
    <!--头部模板文件-->
    <div class="main catogary">

    </div>
</div>


<div class="goto-top">
    <a href="#gemore" id="back-to-top" class="user-pl-more-btn goto-bar">返回顶部</a>
</div>
<script>
    //返回顶部
    $("#back-to-top").click(function () {
        $("body,html").animate({
            scrollTop:0
        },1000);
        return false;
    });

    $(function () {
        $.ajax({
            type:"post",
            url:"{:url('Index/zjbbdata')}",
            dataType:'json',
            data:"",
            success:function(data){
                $.each(data['res'],function (i,list) {
                    $(".main").append('        <div class="pinholder" style="height: 26px;">\
                        <div class="pin">\
                        <div class="tit">\
                        <h2>list[i].CategoryName</h2>\
                        <span>5款</span></div>\
                    </div>\
                    </div>');
                    $.each(data['apps'],function (n,item) {
                        $(".main").append('<div class="lists">\
                        <ul>\
                        <li class="app-item link" data-href="/detail/index?pname=com.qihoo360.mobilesafe&amp;id=77208" data-sid="77208" data-asin="">\
                        <div class="list-img">\
                        <img src="./360应用_必备_files/t0168f384a0b6a971c2.png" alt=""></div>\
                        <div class="list-cont">\
                        <div class="lt-c-tit">\
                        <h2>\
                        <a href="http://app.so.com/zjbb/#nogo">360手机卫士</a></h2>\
                    <span>13.71MB</span></div>\
                    <div class="lt-c-s-n">\
                        <div class="lt-c-s-n-l">\
                        <div class="star">\
                        <p style="width: 88%;"></p>\
                        </div>\
                        </div>\
                        <span>168834万次下载</span></div>\
                    </div>\
                    <div class="btns">\
                        <a class="dl-btn js-downloadBtn" href="http://hot.m.shouji.360tpcdn.com/170301/193a6173c1985ec2d3dee6933c3aca16/com.qihoo360.mobilesafe_251.apk">\
                        <span></span>下载</a>\
                        </div>\
                        </li>\
                        </ul>\
                        </div>')
                    });

                });
            }
        });
    });
</script>

</body>

</html>