<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>appstore-必备</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="<?php echo config('view_replace_str.__STATIC__')?>/css/necessary.css" rel="stylesheet"></head>

<body>
<div id="warpper">
    <!--头部模板文件-->
    {include file="public/header" /}
    <!--头部模板文件-->
    <div class="main catogary">

    </div>
</div>


<div class="goto-top">
    <a href="#gemore" id="back-to-top" class="user-pl-more-btn goto-bar">返回顶部</a>
</div>
<script>
    //返回顶部
    $("#back-to-top").click(function () {
        $("body,html").animate({
            scrollTop:0
        },1000);
        return false;
    });

    $(function () {
        $.ajax({
            type:"post",
            url:"{:url('Index/zjbbdata')}",
            dataType:'json',
            success:function(data){
                //console.log(data['result'][0].category.CategoryName);
                $.each(data['result'],function (i,item) {
                    $.each(data['result'][i],function (j,item2) {
                    //接收到json数据result[category];
                        //console.log(item2);
                        if(Object.prototype.toString.call(item2)!='[object Array]')//item2为数组时跳过append();
                        {
                            $(".main").append('        <div class="pinholder" style="height: 26px;">\
                                    <div class="pin">\
                                    <div class="tit">\
                                    <h2>'+item2.CategoryName+'</h2>\
                                    <span>'+item.app.length+'款产品</span></div>\
                                    </div>\
                                    </div>');
                        }//第一次判断数组结束

                        //console.log(item3);
                        if(Object.prototype.toString.call(item2)=='[object Array]')//item3为数组时执行append();
                        {
                            $.each(data['result'][i],function (n,item3) {
                                //console.log(item3);
                                $.each(data['result'][i][n],function (m,item4) {
                                    //console.log(item4);
                                    if(typeof (item4)=='object') //判断item4此时为对象；
                                    {
                                        $(".main").append('<div class="lists">\
                                        <ul>\
                                        <li class="app-item link" data-href="#" data-id="'+item4.AppID+'" data-asin="">\
                                        <div class="list-img">\
                                        <img src="<?php echo config("view_replace_str.__STATIC__")?>/images/'+item4.Pic+'" alt=""></div>\
                                        <div class="list-cont">\
                                        <div class="lt-c-tit">\
                                        <h2>\
                                        <a href="http://app.so.com/zjbb/#nogo">'+item4.AppName+'</a></h2>\
                                    <span>13.71MB</span></div>\
                                    <div class="lt-c-s-n">\
                                        <div class="lt-c-s-n-l">\
                                        <div class="star">\
                                        <p style="width: 88%;"></p>\
                                        </div>\
                                        </div>\
                                        <span>'+item4.DownloadCount+'万次下载</span></div>\
                                    </div>\
                                    <div class="btns">\
                                        <a class="dl-btn js-downloadBtn" href="#">\
                                        <span></span>下载</a>\
                                        </div>\
                                        </li>\
                                        </ul>\
                                        </div>');
                                        $(document).on("click", ".link", function (e) {
                                            e.preventDefault();
                                            var iD=$(this).attr('data-id');
                                            window.location.href='{:url("Index/detail")}?id='+ iD ;
                                        });
                                    }
                                })//item4循环结束；
                            });//item3循环
                        }//第二次判断数据结束；
                    });//item2循环
                });//item循环
            }
        });
    });
</script>

</body>

</html>