@import url(base.css);
.bnr { position: relative;}
.bnr img { width: 100%; display: block; margin: 0 auto;}
.bnr span { position: absolute;left: 0; top: 0; font-size: 14px; background-color: #ff8130; height: 22px; line-height: 22px; padding: 0 5px; color: #fffefe;}
.bnr p { position: absolute; left: 0; bottom: 0; font-size: 12px; background-color: rgba(0,0,0,.56); width: 100%; height: 20px; line-height: 20px; text-align: center; color: #fff;}
/**/
.tit { display: -webkit-box; padding: 0 11px; height: 25px; line-height: 25px; border-bottom: 1px solid #dadcdc; background-color: #ebebeb; font-size: 14px; color: #999;}
.tit h2 { -webkit-box-flex:1; font-weight: normal;}
/**/
.classify { background-color: #fff;}
.classify ul {}
.classify ul li {display: -webkit-box; padding: 8px 0; border-bottom: 1px solid #d4d5d6; }
.classify-img { /*width: 48px; height: 48px;*/ padding: 0 10px 0 13px;}
.lists-soft .classify-img img { width: 100%;max-width: 77px;}
.lists-soft li:first-child img{max-width: 100%;}
.lists-soft li:first-child.hover {background: #fff;}
.classify ul li .classify-cont {-webkit-box-flex:1; }
.classify ul li .classify-cont h2 { font-size: 16px; font-weight: normal;display: -webkit-box; padding: 3px 0 5px;}
.classify ul li .classify-cont h2 span { display: block;}
.classify ul li .classify-cont h2 span:first-child { -webkit-box-flex:1;}
.classify ul li .classify-cont h2 span:last-child,.classify ul li .classify-cont p { font-size: 12px; color: #999;}
.classify ul li .classify-more { padding: 5px 5px 0 0; width: 53px; text-align: center;}
.classify ul li .classify-more a { display: inline-block; border-top: 2px solid #c8c8c8; border-right: 2px solid #c8c8c8;
	-webkit-transform:rotate(45deg); width: 9px; height: 9px; font-size: 0; line-height: 0; overflow: hidden;margin-top: 18px;}


/**/
.lists ul li:first-child  { border-top: 1px solid #d4d5d6;}
.lists ul li .list-img { padding-top: 0;}

.lists-soft li:first-child {background: #fff; display: block; margin: 4px;margin-top:0;border:1px solid #d4d5d6;}
.lists-soft li:first-child .classify-more{display: none;}
.lists-soft li:first-child .classify-cont{margin:10px 10px 0 10px;}

.lists-soft li.link_1 {margin-top:4px;border-top: 1px solid #d4d5d6;}
/*game*/
#gameGroupList {overflow: hidden;}
#gameGroupList li {display: block;width:50%;float: left;border:none;clear:none;padding:0;}
#gameGroupList li.hover {background: none;}
#gameGroupList li.hover .gameboxwp {background: #C5EEAD;}

#gameGroupList li:first-child{width:100%;}
#gameGroupList li .gameboxwp{border:1px solid #ddd;margin:4px;padding:4px;}
#gameGroupList li:first-child .gameboxwp{margin-top:0;}
#gameGroupList .classify-img {padding:0;}
#gameGroupList .classify-img img{width:100%;}

.lt-c-tit { margin-bottom: 5px; padding-top: 3px;}
.lt-c-s-n { margin-bottom: 0;}
/**/
.dl-btn {  padding-top: 2px;}
/**/
.classify-sec { border-bottom: 2px solid #44b600; height: 38px; border-top: 1px solid #d9d9d9; box-shadow: 0 1px 0 #efefef; display: -webkit-box; padding:0 7px;}
.classify-sec h2 { -webkit-box-flex: 1; font-size: 16px; line-height: 38px; font-weight: normal;}
.classify-sec h2 a { color: #333;}
.classify-sec h2 span { display: inline-block; background-size: contain; width: 26px; height: 26px; font-size: 0; overflow: hidden; margin-right: 4px;vertical-align: -6px;}
.classify-sec .tab { height: 38px;text-align: center;}
.classify-sec .tab li { display: inline-block; width: 56px; height: 34px; line-height: 34px; margin: 4px 1px 0; }
.classify-sec .tab li a { color: #a1a1a1; font-size: 14px; display: block;}
.classify-sec .tab li.cur { background-image: -webkit-linear-gradient(#fff,#f8f8f8);border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: 0 -1px 2px rgba(179,179,179,.75);}
.classify-sec .tab li.cur a { color: #333;}
.classify-sec .num { line-height: 38px; color: #666;}
/**/
.topic-box { background-color: #fff; padding: 4px 0;}
.topic-info {background:#f8f7e6 ; margin: 0 8px; border:1px solid #d3c579;}
.topic-info span { display: block; width: 88px; height: 10px; background: url(img/icon01.jpg) no-repeat 50% 0; background-size: contain; margin: 0 auto; }
.topic-info p { font-size: 14px; color: #a79534; line-height: 1.6; padding: 5px 15px 10px;}


.tab { height: 38px;text-align: center;}
.tab li { display: inline-block; background-color: #ededed; width: 95px; height: 34px; line-height: 34px; margin: 4px 1px 0; border-top-left-radius: 4px; border-top-right-radius: 4px; box-shadow: 0 -1px 2px rgba(179,179,179,.75);}
.tab li a { color: #a1a1a1; font-size: 14px; display: block;}
.tab li.cur { background-color: #fff;}
.tab li.cur a { color: #333;}














