<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>appstore-首页</title>
    <link rel="stylesheet" href="/public/static/css/index.css"></head>

<body>
<div id="warpper">
    <header id="header">
        <div id="topnavwp">
            <div id="nav" class="nav" style="">
                <div class="logo">
                    <a href="{:url('index/index')}">
                        <img src="/public/static/images/logo_0413.png" width="84" height="23"></a>
                </div>
            </div>
            <div id="search-box" class="search-box">
                <div class="search-form-container">
                    <form class="search-form" action="/search/index" id="searchForm">
                        <div class="input-container">
                            <input id="q" name="q" class="q" placeholder="app云集" autocomplete="off" x-webkit-speech="">
                            <input name="src" value="srp" type="hidden">
                            <div class="search-box-reset" style="display: none;"></div>
                        </div>
                        <input class="search-button" value="" type="submit"></form>
                    <div class="suggest-container">
                        <div class="suggest-content"></div>
                        <div class="suggest-toolbar">
                            <div class="suggest-clearhistory">清除历史记录</div>
                            <div class="fill-all"></div>
                            <div class="suggest-close">关闭</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-gamebook gamebook" style="display:none;"></div>
        <!--包含菜单模版menu-->
        {include file="public/menu" /}



    </header>
    <div class="main">
        <div class="switcher" id="applist">
            <ul class="tab">
                <li class="switcher-tab cur" data-type="1" data-page="1">
                    <a href="#nogo">软件</a></li>
                <!--不能添加cur-->
                <li class="switcher-tab" data-type="2" data-page="0">
                    <a href="#nogo">游戏</a></li>
            </ul>
            <div class="lists switcher-panel switcher-panel-cur">
                <ul>

                    {volist name="apps" id="vo"}
                    <li class="app-item link">
                        <div class="list-img">
                            <img src="/public/static/images/{$vo.Pic}" alt=""></div>
                        <div class="list-cont">
                            <div class="lt-c-tit">
                                <h2>
                                    <a href="#nogo">{$vo.AppName}</a></h2>
                                <span>8.59MB</span></div>
                            <div class="lt-c-s-n">
                                <div class="lt-c-s-n-l">
                                    <div class="star">
                                        <p style="width: 73%;"></p>
                                    </div>
                                </div>
                                <span>{$vo.DownloadCount}万次下载</span></div>
                        </div>
                        <div class="btns">
                            <a class="dl-btn js-downloadBtn" href="http://shouji.360tpcdn.com/170214/5aeae868026625e95b389b357fbdd186/com.ss.android.article.video_116.apk">
                                <span></span>下载</a>
                        </div>
                    </li>
                    {/volist}
                </ul>
                <div class="load-bar">
                    <a href="#gemore" data-type="1" class="user-pl-more-btn loadmore">加载更多</a></div>
            </div>
            <div class="lists switcher-panel">
                <ul></ul>
                <div class="load-bar">
                    <a href="#gemore" data-type="2" class="user-pl-more-btn loadmore">加载更多</a></div>
            </div>
        </div>
    </div>
    <div class="goto-top">
        <a href="#gemore" data-type="2" class="user-pl-more-btn goto-bar">返回顶部</a></div>
</div>
</body>

</html>