<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>appstore-分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link href="/public/static/css/classify.css" rel="stylesheet"></head>

<body>
<div id="warpper">
    <!--头部模板文件-->
    {include file="public/header" /}
    <!--头部模板文件-->
    <div class="main">
        <div class="switcher" id="grouplist">
            <ul class="tab">
                <li class="cur switcher-tab">
                    <a href="http://app.so.com/category/#nogo">软件</a></li>
                <li class="switcher-tab">
                    <a href="http://app.so.com/category/#nogo">游戏</a></li>
            </ul>
            <div class="classify lists switcher-panel switcher-panel-cur">
                <ul class="lists-soft">
                    <li data-href="/category/app_list?cid=3&amp;cat_index=0&amp;total=35&amp;csid=102158&amp;cat_name=%E6%96%B0%E9%85%B7%E5%BA%94%E7%94%A8%E9%9B%86%E4%B8%AD%E8%90%A5" class="link link_0">
                        <div class="classify-img">
                            <img src="/public/static/images/t01f77e15cfb917a802.jpg" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>新酷应用集中营</span>
                                <span>35款</span></h2>
                            <p>科技媒体爱范儿专业推荐，新鲜应用抢先玩</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    {volist name="cate" id="vo"}
                        <li data-href="#" class="link link_0">
                            <div class="classify-img">
                                <img src="/public/static/images/{$vo.Pic}" alt=""></div>
                            <div class="classify-cont">
                                <h2>
                                    <span>{$vo.CategoryName}</span>
                                    <span>35款</span></h2>
                                <p>科技媒体爱范儿专业推荐，新鲜应用抢先玩</p>
                            </div>
                            <div class="classify-more">
                                <a href="http://app.so.com/category/#nogo"></a>
                            </div>
                        </li>
                    {/volist}


                </ul>
            </div>
            <div class="classify lists switcher-panel">
                <ul id="gameGroupList"></ul>
            </div>
        </div>
    </div>
</div>
<div class="goto-top">
    <a href="#gemore" id="back-to-top" class="user-pl-more-btn goto-bar">返回顶部</a>
</div>

<script>
    $("#back-to-top").click(function () {
        $("body,html").animate({
            scrollTop:0
        },1000);
        return false;
    });
    $(".switcher-tab").on("click",function (e) {
        e.preventDefault();
        var tab=$(this);
        if (tab.is(".cur")){
            return true;
        }
        else{
            var switcher=tab.parents(".switcher").eq(0);
            var tabs=switcher.find('.switcher-tab');
            var panels=switcher.find('.switcher-panel');
            //var type=tab.data('type');
            var index=tab.index();
            //console.log(index);索引测试
            tabs.removeClass('cur');
            tab.addClass('cur');
            var targetPanel=panels.eq(index);
            panels.hide();
            targetPanel.show();
        }
    })

</script>
</body>
</html>