<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>appstore-分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <link href="/public/static/css/classify.css" rel="stylesheet"></head>

<body>
<div id="warpper">
    <!--头部模板文件-->
    {include file="public/header" /}
    <!--头部模板文件-->
    <div class="main">
        <div class="switcher" id="grouplist">
            <ul class="tab">
                <li class="cur switcher-tab">
                    <a href="http://app.so.com/category/#nogo">软件</a></li>
                <li class="switcher-tab">
                    <a href="http://app.so.com/category/#nogo">游戏</a></li>
            </ul>
            <div class="classify lists switcher-panel switcher-panel-cur">
                <ul class="lists-soft">
                    <li data-href="/category/app_list?cid=3&amp;cat_index=0&amp;total=35&amp;csid=102158&amp;cat_name=%E6%96%B0%E9%85%B7%E5%BA%94%E7%94%A8%E9%9B%86%E4%B8%AD%E8%90%A5" class="link link_0">
                        <div class="classify-img">
                            <img src="/public/static/images/t01f77e15cfb917a802.jpg" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>新酷应用集中营</span>
                                <span>35款</span></h2>
                            <p>科技媒体爱范儿专业推荐，新鲜应用抢先玩</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=1&amp;total=62999&amp;csid=11&amp;cat_name=%E7%B3%BB%E7%BB%9F" class="link link_1">
                        <div class="classify-img">
                            <img src="/public/static/images/t011a477224a1bca7c0.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>系统</span>
                                <span>62999款</span></h2>
                            <p>360手机卫士 搜狗输入法 应用锁</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=2&amp;total=58877&amp;csid=12&amp;cat_name=%E7%A4%BE%E4%BA%A4" class="link link_2">
                        <div class="classify-img">
                            <img src="/public/static/images/t010d4514b183116fed.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>社交</span>
                                <span>58877款</span></h2>
                            <p>手机QQ 飞信 新浪微博 Skype</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=3&amp;total=75145&amp;csid=14&amp;cat_name=%E8%A7%86%E9%A2%91" class="link link_3">
                        <div class="classify-img">
                            <img src="/public/static/images/t01cfc3262e0384fa09.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>视频</span>
                                <span>75145款</span></h2>
                            <p>天天动听 手机电视 快图浏览</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=4&amp;total=11069&amp;csid=15&amp;cat_name=%E9%98%85%E8%AF%BB" class="link link_4">
                        <div class="classify-img">
                            <img src="/public/static/images/t015af3ca48d90f0704.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>阅读</span>
                                <span>11069款</span></h2>
                            <p>IReader 起点读书 有道词典</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=5&amp;total=198822&amp;csid=16&amp;cat_name=%E7%94%9F%E6%B4%BB%E6%9C%8D%E5%8A%A1" class="link link_5">
                        <div class="classify-img">
                            <img src="/public/static/images/t011e1f10a889dec29f.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>生活服务</span>
                                <span>198822款</span></h2>
                            <p>谷歌地图 墨迹天气 大众点评</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=6&amp;total=80008&amp;csid=17&amp;cat_name=%E5%8A%9E%E5%85%AC%E5%95%86%E5%8A%A1" class="link link_6">
                        <div class="classify-img">
                            <img src="/public/static/images/t0111b439dafbf39403.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>办公商务</span>
                                <span>80008款</span></h2>
                            <p>名片全能王 Office套件 全能便签</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=7&amp;total=65685&amp;csid=18&amp;cat_name=%E6%89%8B%E6%9C%BA%E7%BE%8E%E5%8C%96" class="link link_7">
                        <div class="classify-img">
                            <img src="/public/static/images/t018aa6335f070f6a49.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>手机美化</span>
                                <span>65685款</span></h2>
                            <p>360手机桌面 安卓高清壁纸</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                    <li data-href="/category/app_list?cid=3&amp;cat_index=15&amp;total=6365&amp;csid=102111&amp;cat_name=%E8%82%B2%E5%84%BF%E6%AF%8D%E5%A9%B4" class="link link_15">
                        <div class="classify-img">
                            <img src="/public/static/images/t016d166272d40915bd.png" alt=""></div>
                        <div class="classify-cont">
                            <h2>
                                <span>育儿母婴</span>
                                <span>6365款</span></h2>
                            <p>小伴龙 宝宝巴士 宝贝全计划</p>
                        </div>
                        <div class="classify-more">
                            <a href="http://app.so.com/category/#nogo"></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="classify lists switcher-panel">
                <ul id="gameGroupList"></ul>
            </div>
        </div>
    </div>
</div>
<div class="goto-top">
    <a href="#gemore" id="back-to-top" class="user-pl-more-btn goto-bar">返回顶部</a>
</div>

<script>
    $("#back-to-top").click(function () {
        $("body,html").animate({
            scrollTop:0
        },1000);
        return false;
    });
    $(".switcher-tab").on("click",function (e) {
        e.preventDefault();
        var tab=$(this);
        if (tab.is(".cur")){
            return true;
        }
        else{
            var switcher=tab.parents(".switcher").eq(0);
            var tabs=switcher.find('.switcher-tab');
            var panels=switcher.find('.switcher-panel');
            //var type=tab.data('type');
            var index=tab.index();
            //console.log(index);索引测试
            tabs.removeClass('cur');
            tab.addClass('cur');
            var targetPanel=panels.eq(index);
            panels.hide();
            targetPanel.show();
        }
    })

</script>
</body>
</html>