<div class="pinholder firstview" style="height: 37px;">
    <div class="pin" style="">
        <nav class="subnav">
            <ul>
                <li class="cur">
                    <a href="{:url('index/index')}">精选</a></li>
                <li class="">
                    <a href="{:url('index/rank')}">排行</a></li>
                <li class="">
                    <a href="{:url('index/category')}">分类</a></li>
                <li class="">
                    <a href="{:url('index/zjbb')}">必备</a></li>
            </ul>
        </nav>
    </div>
</div>